{% extends base_layout %}

{% block title %}
    {{ 'open_orchestra_user.login.title'|trans }}
{% endblock %}


{% block body %}
    <div id="authentication">
        {% block fos_user_content %}

        {% endblock %}
    </div>
{% endblock %}
