{% extends base_layout %}

{% block title %}
    {{ 'open_orchestra_user.login.title'|trans }}
{% endblock %}


{% block body %}
    <div id="authentication">
        <div class="form-login">
            <div class="header">
                <h4>
                    <img src="/images/logo.png" alt="logo">
                    {{ 'open_orchestra_user.login.welcome'|trans }}
                </h4>
            </div>
            <div class="body-login">
                {% block fos_user_content %}

                {% endblock %}
            </div>
        </div>

    </div>
{% endblock %}
